<!-- <div style="color:black;text-align:center;background-color:gray;font-size:20px;border-radius: 7px;">LIST OF COLORS</div> -->
<br/>
  <div *ngIf="dataLoaded==false" class="spinner-border text-secondary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="mb-3">
    <button class="btn btn-primary" routerLink="/colors">Go To Color List</button>
   </div>

  <div class="mb-3">
    <!-- <label for="filterText" class="form-label">Search color</label> -->
    <input type="text" [(ngModel)]="filterText"class="form-control" id="filterText" placeholder="search color">
  </div>
  <div *ngIf="filterText"class="alert alert-success">
    {{filterText}} have been searched.
  </div>

<ul class="list-group"  *ngIf="dataLoaded==true">
  <li [class]="getAllColorsClass()" 
  (click)="currentResetter(nullColor)"
  routerLink="/cars/color"
  
  >All Colors</li>

  <li [class]="getCurrentColorClass(color)" 
   *ngFor="let color of colors|filterColorPipe:filterText"
   (click)="setCurrentColor(color)"
   routerLink="/cars/color/{{color.colorId}}">
   {{color.colorName}}</li>
  
</ul> 









<!-- 
<table  *ngIf="dataLoaded==true" class="table">
    <thead>
      <tr>
        <th>Color Id</th>
        <th>Color Name</th>
      </tr>
    </thead>
    <tr *ngFor="let color of colors">
      <td>{{color.colorId}}</td>
      <td>{{color.colorName}}</td>
    </tr>
  </table> -->