<!-- <ul class="list-group">
    <li class="list-group-item"></li>
    <li class="list-group-item"></li>
    
  </ul> -->

  
  <div *ngIf="dataLoaded==false" class="spinner-border text-success" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
<table  *ngIf="dataLoaded==true" class="table">
    <thead>
      <tr>
        <th>CarImage Id</th>
        <th>Car Id</th>
        <th>CarImage Date</th>
        
      </tr>
    </thead>
    <tr *ngFor="let carImage of carImages">
      <td>{{carImage.carImageId}}</td>
      <td>{{carImage.carId}}</td>
      <td>{{carImage.carImageDate}}</td>
    </tr>
  </table>