<div style="color:black;text-align:center;background-color:gray;font-size:20px;border-radius: 7px;">LIST OF CARS</div>
  <div *ngIf="dataLoaded==false" class="spinner-border text-secondary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
<table  *ngIf="dataLoaded==true" class="table">
    <thead>
        <tr>
            <th>Car Id</th>
            <th>Car Name</th>
            <th>Brand Name</th>
            <th>Color Name</th>
            <th>Daily Price</th>
            <th>Model Year</th>
            <th>Descriptions</th>


        </tr>
    </thead>
    <tr *ngFor="let car of carDetail"
    routerLink="/cars/details/{{car.carId}}">
        <th>{{car.carId}}</th>
        <td>{{car.carName}}</td>
        <td>{{car.brandName}}</td>
        <td>{{car.colorName}}</td>
        <td>{{car.dailyPrice}}</td>
        <th>{{car.modelYear}}</th>
        <th>{{car.descriptions}}</th>
        
    </tr>
</table>