
   <div class="form-group row mb-2">
    <label for="example-date-input" class="col-4 col-form-label"
      >Günlük</label
    >
    <div class="col-8">
      <input
        type="text"
        disabled="disabled"
        class="form-control"
        [value]="car.dailyPrice | currency: '₺'"
      />
    </div>
  </div>
  <div class="form-group row mb-2">
    <label for="example-date-input" class="col-4 col-form-label"
      >Müşteri</label
    >
    <!-- <div class="col-8">
      <select class="form-select" [(ngModel)]="customerId">
        <option
          [ngValue]="customer.customerId"
          *ngFor="let customer of customers"
        >
          {{ customer.firstName }} {{ customer.lastName }} |
          {{ customer.companyName }}
        </option>
      </select>
    </div> -->
  </div>
  <div class="form-group row mb-2">
    <label for="example-date-input" class="col-4 col-form-label"
      >Başlangıç</label
    >
    <div class="col-8">
      <input
        
        type="date"
        class="form-control"
        id="rent-date"
        placeholder="Bir gün seçiniz."
      />
    </div>
  </div>
  <div class="form-group row">
    <label for="example-date-input" class="col-4 col-form-label"
      >Bitiş</label
    >
    <div class="col-8">
      <input
       
        type="date"
        class="form-control"
        id="return-date"
        placeholder="Bir gün seçiniz."
      />
    </div>
  </div>



















